@model IEnumerable<_1_AppData._1_DataProcessing.Models.Coupons>

@{
    ViewData["Title"] = "ShowAllCoupon";
}

<h1>ShowAllCoupon</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FoodID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComboID)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Coupon_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount_Amount)
            </th>
            <th>
                Mini_Spend
            </th>
            <th>
                Max_Discount_Amount
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expiration_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Update_At)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FoodID) tràn hết cả trang không nhìn được edit,remove :((
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComboID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Coupon_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount_Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minimum_Spend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maximum_Discount_Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expiration_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update_At)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Remove", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
