@model IEnumerable<_1_AppData._1_DataProcessing.Models.Food>

@{
	ViewData["Title"] = "ShowAllFood";
	List<string> extensions = new List<string>()
	{
		".png", ".jpg", ".jpeg", ".gif", ".pdf", ".raw", ".bmp", ".tif"
	};
}

<h1>ShowAllFood</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FoodName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Images)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FoodName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@{
						string a = System.IO.Path.GetExtension(item.Images);
					}
					@if (@extensions.Contains(System.IO.Path.GetExtension(item.Images).Trim()))
					{
						<img src="/images/@item.Images" height="100">
					}
					else
					{
						<span>Ảnh lỗi rồi =)))</span>
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
					@Html.ActionLink("Details", "Details", new { id = item.ID }) |
					@Html.ActionLink("Delete", "Remove", new { id = item.ID })
				</td>
			</tr>
		}
	</tbody>
</table>
